[project]
	description = Webida Opensource Project - Client Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joonghoon Kim (gotchazipc)
[access "refs/for/refs/*"]
	read = group user/Joonghoon Kim (gotchazipc)
	push = group user/Joonghoon Kim (gotchazipc)
	label-Code-Review = -2..+2 group user/Joonghoon Kim (gotchazipc)
	label-Verified = -1..+1 group user/Joonghoon Kim (gotchazipc)
	rebase = group user/Joonghoon Kim (gotchazipc)
	removeReviewer = group user/Joonghoon Kim (gotchazipc)
	submit = group user/Joonghoon Kim (gotchazipc)
[access "refs/heads/*"]
	read = group user/Joonghoon Kim (gotchazipc)
	create = group user/Joonghoon Kim (gotchazipc)
	push = +force group user/Joonghoon Kim (gotchazipc)
	pushMerge = group user/Joonghoon Kim (gotchazipc)
[access "refs/tags/*"]
	push = +force group user/Joonghoon Kim (gotchazipc)
	pushTag = group user/Joonghoon Kim (gotchazipc)
	pushSignedTag = group user/Joonghoon Kim (gotchazipc)
