<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Message Format Details</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/theme/monokai.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/scroll/simplescrollbars.min.css">
		<link rel="stylesheet" href="../css/app.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h2>Message Format Details</h2>
			</div>
			<div class="row">
				<div class="pull-right">
					<input id="btnShowlists" class="btn btn-primary" type="button" value="Show lists">
					<input id="btnToggle" class="btn btn-primary" type="button" value="Modify">
				</div>
			</div>
			<div class="row" role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#format" aria-controls="format" role="tab" data-toggle="tab">Foramt</a></li>
					<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="format">
						<form>
							<div class="form-group">
								<label for="msgName">Message Name</label>
								<input type="text" class="form-control" id="msgName" readonly>
							</div>
							<div class="form-group">
								<label for="msgVer">Format Ver.</label>
								<input type="text" class="form-control" id="msgVer" readonly>
							</div>
							<div class="form-group">
								<label for="deviceModel">Device Model</label>
								<input type="text" class="form-control" id="deviceModel" readonly>
							</div>
							<div class="form-group">
								<label for="deviceDesc">Description</label>
								<textarea class="form-control" id="deviceDesc" row="2" readonly></textarea>
							</div>
							<div class="form-group">
								<label for="msgFormat">Format [ReadOnly]</label>
								<div><textarea id="msgFormat" name="msgFormat"></textarea></div>
							</form>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="history"></div>
				</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.min.js"></script>
		<script src="../lib/codemirror/mode/javascript.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/selection/active-line.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/scroll/simplescrollbars.min.js"></script>
		<script src="../lib/common.js"></script>
		<script>
			$(document).ready(function() {
				var url = window.location.href;
				var messageCode = url.substr(url.indexOf('?')+1);

				var msgName = $('#msgName')[0];
				var msgVer = $('#msgVer')[0];
				var deviceModel = $('#deviceModel')[0];
				var deviceDesc = $('#deviceDesc')[0];
				var msgFormat = $('#msgFormat')[0];

				MessageService.test(function (err, data) {
					var jsonData = JSON.parse(data);
					
					jsonData.forEach(function (data) {
						if (data.messageCode === messageCode) {
							msgName.value = data.messageName;
							msgVer.value = data.formatVersion;
							deviceModel.value = data.deviceModel;
							deviceDesc.value = data.description;
							editor.setValue(data.format);
						}
					});
				});

				var editor = CodeMirror.fromTextArea(document.getElementById('msgFormat'), {
					lineNumbers: true,
					readOnly: true,
					theme: 'monokai',
					mode: 'application/ld+json',
					styleActiveLine: true,
					scrollbarStyle: 'simple'
				});

				$('#btnShowlists').click(function () {
					window.location.href = 'lists.html';
				});

				$('#btnToggle').click(function () {
					var self = $(this)[0];

					if (self.value === 'Modify') {
						var oldDatas = $('[readonly]');
						oldDatas.each(function(i, node) {
							$(node).attr('readonly', false);
						});

						editor.setOption('readOnly', false);

						self.value = 'Save changes';
					} else if (self.value === 'Save changes') {
						window.location.href = 'lists.html';
					}
				});
			});
		</script>
	</body>
</html>