/* wsdk/form/Common.css */
/*========================= common css =========================*/
.menubar-gradient {
  background-image: linear-gradient(to bottom, #363b42 1px, #414850 0px, #414850 26px, #3e454c 0px, #313437 30px);
}
.toolbar-gradient {
  background-image: linear-gradient(to bottom, #dee4e7 1px, #ced3d7 0px, #ced3d7 26px, #ced3d7 0px, #a7b1ba 30px);
}
/*theme*/
/*GNB*/
/*toolbar*/
/*workspace*/
/*button*/
/*Gutter*/
/*footer*/
.webida-light {
  /* Padding for the input area of TextBox based widgets, and corresponding padding for the
   * down arrow button and the placeholder.   placeholder is explicitly listed  because
   * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
   * won't affect it
   */
  /* hover */
  /* error state */
  /* focused state */
  /* disabled state */
  /*========================= for special widgets =========================*/
  /* Input boxes with an arrow (for a drop down) */
  /* Add 1px vertical padding to the <input> where user types and the validation icon,
     to match the 1px border on arrow button */
  /* Arrow "hover" effect:
   * The arrow button should change color whenever the mouse is in a position such that clicking it
   * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
   * button, depending on the openOnClick setting for the widget.
   */
  /* Arrow Button change when drop down is open */
  /* disabled state */
}
.webida-light .dijitTextBox,
.webida-light .dijitInputInner {
  color: #000000;
}
.webida-light .dijitValidationTextBoxError .dijitValidationContainer {
  background-color: #d46464;
  background-image: url("../form/images/error.png");
  background-position: top center;
  border: solid #d46464 0;
  width: 9px;
}
.webida-light .dijitTextBoxError .dijitValidationContainer {
  border-left-width: 1px;
}
.webida-light .dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent;
  /* so the INPUT doesn't obscure the border in rtl+a11y */
}
.webida-light .dijitTextArea,
.webida-light .dijitInputField .dijitPlaceHolder {
  padding: 2px;
}
.webida-light .dijitSelect .dijitInputField,
.webida-light .dijitTextBox .dijitInputField {
  padding: 1px 2px;
}
.webida-light .dj_gecko .dijitTextBox .dijitInputInner,
.webida-light .dj_webkit .dijitTextBox .dijitInputInner {
  padding: 1px;
}
.webida-light .dijitSelect,
.webida-light .dijitSelect .dijitButtonContents,
.webida-light .dijitTextBox,
.webida-light .dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
  border-color: #6d7886;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
  border-radius: 0px;
}
.webida-light .dijitSelect .dijitButtonContents {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.webida-light .dijitSelect,
.webida-light .dijitTextBox {
  background-color: #e6e9ed;
}
.webida-light .dijitSelectHover,
.webida-light .dijitSelectHover .dijitButtonContents,
.webida-light .dijitTextBoxHover,
.webida-light .dijitTextBoxHover .dijitButtonNode {
  border-color: #759dc0;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.webida-light .dijitTextBoxHover {
  background-color: #e5f2fe;
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}
.webida-light .dijitSelectError,
.webida-light .dijitSelectError .dijitButtonContents,
.webida-light .dijitTextBoxError,
.webida-light .dijitTextBoxError .dijitButtonNode {
  border-color: #d46464;
}
.webida-light .dijitSelectFocused,
.webida-light .dijitSelectFocused .dijitButtonContents,
.webida-light .dijitTextBoxFocused,
.webida-light .dijitTextBoxFocused .dijitButtonNode {
  border-color: #759dc0;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.webida-light .dijitTextBoxFocused {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}
.webida-light .dijitTextBoxFocused .dijitInputContainer {
  background: #ffffff;
}
.webida-light .dijitSelectErrorFocused,
.webida-light .dijitSelectErrorFocused .dijitButtonContents,
.webida-light .dijitTextBoxErrorFocused,
.webida-light .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #ce5050;
}
.webida-light .dijitSelectDisabled,
.webida-light .dijitSelectDisabled .dijitButtonContents,
.webida-light .dijitTextBoxDisabled,
.webida-light .dijitTextBoxDisabled .dijitButtonNode {
  border-color: #d3d3d3;
}
.webida-light .dijitSelectDisabled,
.webida-light .dijitTextBoxDisabled,
.webida-light .dijitTextBoxDisabled .dijitInputContainer {
  background-color: #efefef;
  background-image: none;
}
.webida-light .dijitSelectDisabled,
.webida-light .dijitTextBoxDisabled,
.webida-light .dijitTextBoxDisabled .dijitInputInner {
  color: #818181;
}
.webida-light .dj_webkit .dijitDisabled input {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: #757575;
}
.webida-light .dj_webkit textarea.dijitTextAreaDisabled {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: #1b1b1b;
}
.webida-light .dijitSelect .dijitArrowButtonInner,
.webida-light .dijitComboBox .dijitArrowButtonInner {
  background-image: url("../images/icons/arrow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0;
  width: 8px;
  border-radius: 0;
  border-color: #6d7886;
}
.webida-light .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.webida-light .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.webida-light .dijitSelectLabel,
.webida-light .dijitTextBox .dijitInputInner,
.webida-light .dijitValidationTextBox .dijitValidationContainer {
  padding: 1px 0;
}
.webida-light .dijitComboBox .dijitButtonNode {
  padding: 0 3px;
  background-color: #6d7886;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.webida-light .dijitComboBoxOpenOnClickHover .dijitButtonNode,
.webida-light .dijitComboBox .dijitDownArrowButtonHover,
.webida-light .dijitComboBoxFocused .dijitArrowButton {
  background-color: #abd6ff;
  padding: 1px 4px;
}
.webida-light .dijitComboBoxFocused .dijitArrowButton input {
  background-position: -24px 0;
  border: 0;
}
.webida-light .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.webida-light .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -24px 0;
  border: 0;
}
.webida-light .dijitComboBox .dijitHasDropDownOpen {
  background-color: #7dbdfa;
  background-image: url("../images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
}
.webida-light .dj_iequirks .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 0;
}
.webida-light .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
.webida-light div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
       * (.dijitComboBoxDisabled .dijitArrowButtonInner) */
  background-position: 0 50%;
  background-color: transparent;
}
/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .webida .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
.dj_borderbox .webida .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox .webida .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
