/* InlineEditBox
 *
 * Styling InlineEditBox mainly includes:
 *
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 *
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.menubar-gradient {
  background-image: linear-gradient(to bottom, #363b42 1px, #414850 0px, #414850 26px, #3e454c 0px, #313437 30px);
}
.toolbar-gradient {
  background-image: linear-gradient(to bottom, #dee4e7 1px, #ced3d7 0px, #ced3d7 26px, #ced3d7 0px, #a7b1ba 30px);
}
/*theme*/
/*GNB*/
/*toolbar*/
/*workspace*/
/*button*/
/*Gutter*/
/*footer*/
.webida-light .dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.webida-light .dijitInlineEditBoxDisplayModeHover {
  background-color: #e5f2fe;
  border: solid 1px #759dc0;
}
.dj_ie6 .webida-light .dijitInlineEditBoxDisplayMode {
  border: none;
}
