.CodeMirror {
	border: 1px solid #eee;
	height: 400px;
}
.form-right {
	height: 35px;
	margin: 10px;
}
.btn-right {
	float: right;
	margin-left: 5px;
}
.modal-delete {
	background: #d9534f;
	color: #fff;
}
#msgTable tbody tr {
	cursor: pointer;
}