<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= app.name %></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1><%= app.name %></h1>
        <p>This is a sample for a mobile application based on Cordova.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="https://webida.org">Visit Webida</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Device Features</h2>
          <p>Vibrates the device for the specified amount of time. <button onClick="vibrate();">Vibrate</button></p>
          <p>Provides access to the device's default camera application. <button onClick="getPhoto();">Get Photo</button></p>
        </div>
        <div class="col-md-6">
          <div id="img1">
          </div>
        </div>
        <div class="col-md-6">
          <h2>File & Media</h2>
          <p>Place a mp3 file into 'Download' folder and click. <button onClick="listFiles();">Play MP3</button><button onClick="stop();">Stop</button></p>
        </div>
        <div class="col-md-6">
          <ul class="list-group" id="dirContent">
          </ul>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <% if (app.supportsCordova) { %><script type="text/javascript" src="cordova.js"></script><% } %>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
