/*add*/

.claro .dijitMenuBar .dijitMenuItem {
    color: #d4f6ff;
}

.claro .dijitCheckBox,
.claro .dijitCheckBoxIcon {
    width: 18px;
    height: 18px;
    margin: 0 2px 0 0;
}

.claro .dijitCheckBox,
.claro .dijitToggleButton .dijitCheckBoxIcon {
    background-position: -18px;
}
.claro .dijitCheckBoxChecked,
.claro .dijitToggleButtonChecked .dijitCheckBoxIcon {
    background-position: 0;
}

.claro .dijitCheckBoxDisabled {
    background-position: -90px;
}
.claro .dijitCheckBoxCheckedDisabled {
    background-position: -72px;
}
.claro .dijitCheckBoxHover {
    background-position: -54px;
}
.claro .dijitCheckBoxCheckedHover {
    background-position: -36px;
}

.claro .dijitRadio,
.claro .dijitRadioIcon {
    background-image: url("images/checkboxRadioButtonStates.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin: 0 2px 0 0;
    padding: 0;
}

.claro .dijitRadio {
    background-position: -126px;
}
.claro .dijitToggleButton .dijitRadioIcon {
    background-position: -128px;
}
.claro .dijitRadioDisabled {
    background-position: -198px;
}
.claro .dijitRadioHover {
    background-position: -162px;
}
.claro .dijitRadioChecked {
    background-position: -108px;
}
.claro .dijitToggleButtonChecked .dijitRadioIcon {
    background-position: -134px;
}
.claro .dijitRadioCheckedHover {
    background-position: -144px;
}
.claro .dijitRadioCheckedDisabled {
    background-position: -180px;
}
.claro .dijitCheckedMenuItem .dijitMenuItemIcon,
.claro .dijitRadioMenuItem .dijitMenuItemIcon {
    background-image: url("images/checkboxRadioButtonStates.png");
    background-repeat: no-repeat;
    background-position: -18px 50%;

    width: 18px;
    height: 18px;
}
.dj_ie6 .claro .dijitCheckedMenuItem .dijitMenuItemIcon,
.dj_ie6 .claro .dijitRadioMenuItem .dijitMenuItemIcon {
    background-image: url("images/checkboxAndRadioButtons_IE6.png");
}
.claro .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
    background-position: 0 50%;
}
.claro .dijitRadioMenuItem .dijitMenuItemIcon {
    background-position: -126px 50%;
}
.claro .dijitRadioMenuItemChecked .dijitMenuItemIcon {
    background-position: -108px 50%;
}


.claro .dijitDialog {
    background-color: #ecf1f6;
    border-radius: 5px;
    border: 1px solid #686f78;
}

.claro .dijitDialogTitleBar {
    border-radius: 4px;
    margin: 1px;
    background-image: -webkit-linear-gradient(top, #5e6872 0%, #414850 100%);
    background-image: -moz-linear-gradient(top, #5e6872 0%, #414850 100%);
    background-image: -o-linear-gradient(top, #5e6872 0%, #414850 100%);
    background-image: linear-gradient(to bottom, #5e6872 0%, #414850 100%);
    border: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.claro .dijitDialogPaneContent {
    border: 0;
    background-color: #ecf1f6;
}

.claro .dijitDialogCloseIcon {
    width: 20px;
    height: 20px;
    top: 6px;
    right: 6px;
}

.claro .dijitDialogCloseIconHover {
    background-position: -20px;
}

.claro .dijitDialogCloseIconActive {
    background-position: -40px;
}

.claro .dijitDialogTitle {
    color: #ffffff;
}

.claro .dijitTabContainerTop-tabs .dijitTab {
    padding: 1px 6px;
    padding-top: 0;
    /*top: 0px;*/
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    padding-bottom: 2px;
    padding-top: 3px;
    /*top: 0px;*/
}

.claro .dijitTreeRow {
    padding: 1px 0 1px 0;
    border: 1px solid transparent;
}

.claro .dijitTreeRowHover {
    background-color: #bcedff;
    border-color: #bcedff;
    background-image: none;
}

.claro .dijitTreeRowSelected {
    background-color: #43cbff;
    border-color: #43cbff;
    background-image: none;
}

.dijitTreeRow.focused {
    border-color: #0079a6;
}

/*
.claor #editor .dijitTabContainerTopChildWrapper {
    padding: 0px;
}
*/

/*Tab Container*/

.claro .dijitTabPaneWrapper {
    padding: 1px;
    /*border: 1px solid #e8edf2;*/
    background-color: #e8edf2;
    border-color: #9ea5ae;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.claro .dijitTabChecked {
    border-color: #9ea5ae;
}

.claro .dijitTabPaneWrapper,
.claro .dijitTabContainerTop-tabs,
.claro .dijitTabContainerBottom-tabs,
.claro .dijitTabContainerLeft-tabs,
.claro .dijitTabContainerRight-tabs {
    border-color: #9ea5ae;
}

/*
.claro .dijitTabContainerTopChildWrapper {
    border: 1px solid #dadfe4;
}
*/

.claro .dijitSplitContainer-dijitContentPane, .claro .dijitBorderContainer-dijitContentPane {
    background-color: transparent;
}

.claro .dijitSplitContainer-child, .claro .dijitBorderContainer-child {
    border: none;
}

.claro #editor .dijitTabContainerTop-tabs .dijitTab {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #c6cfd9 0%, #b2bac3 100%);
    background-image: -moz-linear-gradient(top, #c6cfd9 0%, #b2bac3 100%);
    background-image: -o-linear-gradient(top, #c6cfd9 0%, #b2bac3 100%);
    background-image: linear-gradient(to bottom, #c6cfd9 0%, #b2bac3 100%);

}
.claro #editor .dijitTabContainerTop-tabs .dijitTabChecked {
    background-image: -webkit-linear-gradient(top, #ecf4fc 0%, #d0deec 100%);
    background-image: -moz-linear-gradient(top, #ecf4fc  0%, #d0deec 100%);
    background-image: -o-linear-gradient(top, #ecf4fc 0%, #d0deec 100%);
    background-image: linear-gradient(to bottom, #ecf4fc 0%, #d0deec 100%);
}

.claro #editor .dijitTabPaneWrapper,
.claro #editor .dijitTabContainerTop-tabs,
.claro #editor .dijitTabContainerBottom-tabs,
.claro #editor .dijitTabContainerLeft-tabs,
.claro #editor .dijitTabContainerRight-tabs {
    /* border-color: #d0deec;*/
}

.claro #editor .dijitTabContainerTopChildWrapper {
    /*   border : 1px solid #bfcfe0;*/
}

.claro #editor .dijitTabPaneWrapper {
    background-color: #d0deec;
}

.claro .dijitSplitterH,
.claro .dijitGutterH {
    background: none;
    border: 0;
    height: 8px;
}

.claro .dijitSplitterV,
.claro .dijitGutterV {
    background: none;
    border: 0;
    width: 8px;
    margin: 0;
}

.claro .dijitSplitterH .dijitSplitterThumb {
    background: #b5bcc7 none;
    height: 3px;
    top: 3px;
    background-image: -webkit-linear-gradient(top, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    background-image: -moz-linear-gradient(top, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    background-image: -o-linear-gradient(top, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    background-image: linear-gradient(to bottom, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    border-radius: 3px;
    left: 3px;
    width: calc(100% - 6px);
    opacity: 0.7;
}

.claro .dijitSplitterV .dijitSplitterThumb {
    background: #b5bcc7 none;
    left: 3px;
    width: 3px;
    background-image: -webkit-linear-gradient(left, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    background-image: -moz-linear-gradient(left, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    background-image: -o-linear-gradient(left, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    background-image: linear-gradient(to right, #949ca3 1px, #a8afb7 2px, #c9cfd5 3px);
    border-radius: 3px;
    top: 3px;
    height: calc(100% - 6px);
    opacity: 0.7;
}

.claro #editor .dijitSplitterH {
    height: 3px;
}

.claro #editor .dijitSplitterV {
    width: 3px;
}

.claro #editor .dijitSplitterThumb {
    display: none;
}

.claro .tabStripButton {
    width: 10px;
    border-radius: 3px;
}

.claro .dijitTabListContainer-top .tabStripButton {
    padding: 4px 3px;
    margin-bottom: 2px;
    margin-top: 4px;
    border: solid 1px #6E7986;
}

.claro .dijitTabListContainer-top .tabStripButton {
    background-image: -webkit-linear-gradient(top, #F7F7F7 0%, #DDDDDD 25%, #C1C1C1 100%);
    background-image: -moz-linear-gradient(top, #F7F7F7 0%, #DDDDDD 25%, #C1C1C1 100%);
    background-image: -o-linear-gradient(top, #F7F7F7 0%, #DDDDDD 25%, #C1C1C1 100%);
    background-image: linear-gradient(to bottom, #F7F7F7 0%, #DDDDDD 25%, #C1C1C1 100%);
}

.claro .dijitTabListContainer-top .tabStripButtonHover {
    background-image: -webkit-linear-gradient(top, #EBF4FF  0%, #B9D9F1 25%, #8DB9D9 100%);
    background-image: -moz-linear-gradient(top, #EBF4FF  0%, #B9D9F1 25%, #8DB9D9 100%);
    background-image: -o-linear-gradient(top, #EBF4FF  0%, #B9D9F1 25%, #8DB9D9 100%);
    background-image: linear-gradient(to bottom, #EBF4FF  0%, #B9D9F1 25%, #8DB9D9 100%);
    border: solid 1px #6E7986;
}

.claro .dijitTabListContainer-top .tabStripButtonActive {
    background-image: -webkit-linear-gradient(top, #739DBD 0%, #8DB9D9 15%, #B9D9F1 85%, #EBF4FF 100%);
    background-image: -moz-linear-gradient(top, #739DBD 0%, #8DB9D9 15%, #B9D9F1 85%, #EBF4FF 100%);
    background-image: -o-linear-gradient(top, #739DBD 0%, #8DB9D9 15%, #B9D9F1 85%, #EBF4FF 100%);
    background-image: linear-gradient(to bottom, #739DBD 0%, #8DB9D9 15%, #B9D9F1 85%, #EBF4FF 100%);
    border: solid 1px #6E7986;
}

.claro .dijitTabListContainer-top .tabStripButtonDisabled,
.claro .dijitTabListContainer-bottom .tabStripButtonDisabled {
    background-image: -webkit-linear-gradient(top, #E2E2E2  0%, #DDDDDD 25%, #C1C1C1 100%);
    background-image: -moz-linear-gradient(top, #E2E2E2  0%, #DDDDDD 25%, #C1C1C1 100%);
    background-image: -o-linear-gradient(top, #E2E2E2  0%, #DDDDDD 25%, #C1C1C1 100%);
    background-image: linear-gradient(to bottom, #E2E2E2  0%, #DDDDDD 25%, #C1C1C1 100%);
    border: solid 1px #9ea5ae;
}

.claro .dijitTabStripIcon {
    position: absolute;
    left: 1px;
    top: 1px;
}

/*button*/
.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
    border: 1px solid #5F6770;
    color: #272A2D;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(#EAF5FF 0%, #D7E2EC 20%, #ADBBC7 100%);
    background-image: -moz-linear-gradient(#EAF5FF 0%, #D7E2EC 20%, #ADBBC7 100%);
    background-image: -o-linear-gradient(#EAF5FF 0%, #D7E2EC 20%, #ADBBC7 100%);
    background-image: linear-gradient(#EAF5FF 0%, #D7E2EC 20%, #ADBBC7 100%);
}

.claro .dijitButtonHover .dijitButtonNode,
.claro .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover,
.claro .dijitToggleButtonHover .dijitButtonNode {
    background-image: -webkit-linear-gradient(#EAF5FF 0%, #C2D7EA 20%, #9BB2C6 100%);
    background-image: -moz-linear-gradient(#EAF5FF 0%, #C2D7EA 20%, #9BB2C6 100%);
    background-image: -o-linear-gradient(#EAF5FF 0%, #C2D7EA 20%, #9BB2C6 100%);
    background-image: linear-gradient(#EAF5FF 0%, #C2D7EA 20%, #9BB2C6 100%);
}

.claro .dijitButtonActive .dijitButtonNode,
.claro .dijitDropDownButtonActive .dijitButtonNode,
.claro .dijitComboButtonActive .dijitButtonNode,
.claro .dijitToggleButtonActive .dijitButtonNode,
.claro .dijitToggleButtonChecked .dijitButtonNode {
    background-image: -webkit-linear-gradient(#ADBBC7 0%, #D5D5D59 100%);
    background-image: -moz-linear-gradient(#ADBBC7 0%, #D5D5D59 100%);
    background-image: -o-linear-gradient(#ADBBC7 0%, #D5D5D59 100%);
    background-image: linear-gradient(#ADBBC7 0%, #D5D5D59 100%);
}

.claro .dijitButtonDisabled .dijitButtonNode,
.claro .dijitDropDownButtonDisabled .dijitButtonNode,
.claro .dijitComboButtonDisabled .dijitButtonNode,
.claro .dijitToggleButtonDisabled .dijitButtonNode {
    border: 1px solid #A6A6A6;
    background-image: -webkit-linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
    background-image: -moz-linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
    background-image: -o-linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
    background-image: linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
}

/*combo box*/
.claro .dijitComboBoxMenu {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #8495a9;
}

.claro .dijitComboBoxMenu .dijitMenuItemHover {
    background-image: -webkit-linear-gradient(top, #B3CEEC 0%, #92AECD 100%);
    background-image: -moz-linear-gradient(top, #B3CEEC 0%, #92AECD 100%);
    background-image: -o-linear-gradient(top, #B3CEEC 0%, #92AECD 100%);
    background-image: linear-gradient(to bottom, #B3CEEC 0%, #92AECD 100%);
}

.claro .dijitTextBox {
    border-radius: 3px;
    overflow: hidden;
    background-image: none;
}

.claro .dijitTextBoxHover {
    border: 1px solid #8495A9;
}

.claro .dijitTextBox .dijitButtonNode {
    border: 1px solid #8495A9;
}

.claro .dijitTextBoxHover .dijitButtonNode {
    border: 1px solid #8495A9;
    background-image: -webkit-linear-gradient(top, #E7BBF1 0%, #CCD3DB9 100%);
    background-image: -moz-linear-gradient(top, #E7BBF1 0%, #CCD3DB9 100%);
    background-image: -o-linear-gradient(top, #E7BBF1 0%, #CCD3DB9 100%);
    background-image: linear-gradient(to bottom, #E7BBF1 0%, #CCD3DB9 100%);
    background-color:transparent;
    background-image:none;
}

.claro .dijitTextBox .dijitArrowButtonContainer {
    border: 1px solid #8495A9;
    background-image: -webkit-linear-gradient(top, #E7BBF1 0%, #CCD3DB9 100%);
    background-image: -moz-linear-gradient(top, #E7BBF1 0%, #CCD3DB9 100%);
    background-image: -o-linear-gradient(top, #E7BBF1 0%, #CCD3DB9 100%);
    background-image: linear-gradient(to bottom, #E7BBF1 0%, #CCD3DB9 100%);
}

.claro .dijitTextBoxHover .dijitArrowButtonContainer {
    border: 1px solid #8495A9;
    background-image: -webkit-linear-gradient(top, #C5E0FF 0%, #9EBDE2 100%);
    background-image: -moz-linear-gradient(top, #C5E0FF 0%, #9EBDE2 100%);
    background-image: -o-linear-gradient(top, #C5E0FF 0%, #9EBDE2 100%);
    background-image: linear-gradient(to bottom, #C5E0FF 0%, #9EBDE2 100%);
}

.claro .dijitComboBox .dijitArrowButtonInner {
    border: 1px solid transparent;
}

.claro .dijitButtonDisabled .dijitButtonNode, 
.claro .dijitComboButtonDisabled .dijitButtonNode, 
.claro .dijitDropDownButtonDisabled .dijitButtonNode,
.claro .dijitToggleButtonDisabled .dijitButtonNode {
    color: gray;
}

/* slider start */
.claro .dijitSliderProgressBar {
    background-color: transparent;
    background-image: none;
}

.claro .dijitSliderBarH {
    height: 3px;
}

.claro .dijitSlider .dijitSliderProgressBarH {
    background-image: none;
    background-color: transparent;
}

.claro .dijitSliderImageHandleH {
    height: 19px;
}

.claro .dijitSliderBumperH {
    background-image: -webkit-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -moz-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -o-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: linear-gradient(to bottom, #576577 0%, #9DADC1 100%);
    border: 0;
    height: 3px;
}

.claro .dijitSlider .dijitSliderRightBumper {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.claro .dijitSlider .dijitSliderLeftBumper {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.dijitSliderRemainingBarH {
    background-image: -webkit-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -moz-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -o-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: linear-gradient(to bottom, #576577 0%, #9DADC1 100%);
    border: 0;
}

.dijitSliderProgressBarH {
    background-image: 'none';
    background-color: transparent;
    border: 0;
}


.dijitSliderImageHandleH {
    height: 19px;
    top: -7px;
}

.claro .dijitSlider .dijitSliderLeftBumper {
    border-color: transparent;
    background-image: -webkit-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -moz-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -o-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: linear-gradient(to bottom, #576577 0%, #9DADC1 100%);    
}

.claro .dijitSlider .dijitSliderRightBumper {
    border-color: transparent;
    background-image: -webkit-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -moz-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: -o-linear-gradient(top, #576577 0%, #9DADC1 100%);
    background-image: linear-gradient(to bottom, #576577 0%, #9DADC1 100%);    
}

/* slider end*/

/*popup menu*/

.claro .dijitMenuPopup .dijitMenuTable {
    background-color: #f4f9ff;
    border: 1px solid #6e7986;
    box-shadow: 0 1px 4px 0.5;
}

.claro .dijitMenuPopup .dijitMenuItem {
    background-color: transparent;
    height: 22px;
}

.claro .dijitMenuPopup .dijitMenuItemSelected {
    background-image: -webkit-linear-gradient(top, #b3ceec 0%, #92aecd 100%);
    background-image: -moz-linear-gradient(top, #b3ceec 0%, #92aecd 100%);
    background-image: -o-linear-gradient(top, #b3ceec 0%, #92aecd 100%);
    background-image: linear-gradient(to bottom, #b3ceec 0%, #92aecd 100%);
}

.claro .dijitMenuPopup .dijitMenuItem td{
    border: 0;
    background-color: transparent;
}

.claro .dijitMenuItemDisabled .dijitMenuItemIconCell {
    opacity: 0.5;
}

/*toolbar*/

.claro .dijitToolbar {
    border: 0;
    background-image: -webkit-linear-gradient(top, #dee4e7 1px, #ced3d7 0px, #ced3d7 26px,  #ced3d7 0px, #a7b1ba 30px);
    background-image: -moz-linear-gradient(top, #dee4e7 1px, #ced3d7 0px, #ced3d7 26px,  #ced3d7 0px, #a7b1ba 30px); 
    background-image: -o-linear-gradient(top, #dee4e7 1px, #ced3d7 0px, #ced3d7 26px,  #ced3d7 0px, #a7b1ba 30px);
    background-image: linear-gradient(to bottom, #dee4e7 1px, #ced3d7 0px, #ced3d7 26px,  #ced3d7 0px, #a7b1ba 30px);
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.claro .dijitToolbar .dijitButton {
    margin-top: 2px;
}

.claro .dijitMenuBar {
    background-image: -webkit-linear-gradient(top, #363B42 1px, #414850 0px, #414850 26px,  #3E454C 0px, #313437 30px); 
    background-image: -moz-linear-gradient(top, #363B42 1px, #414850 0px, #414850 26px,  #3E454C 0px, #313437 30px); 
    background-image: -o-linear-gradient(top, #363B42 1px, #414850 0px, #414850 26px,  #3E454C 0px, #313437 30px); 
    background-image: linear-gradient(to bottom, #363B42 1px, #414850 0px, #414850 26px,  #3E454C 0px, #313437 30px); 
    border: 0;
}

.claro .dijitMenuBar .dijitMenuItem {
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    top: 1px;
}

.claro .dijitMenuBar .dijitMenuItemHover {
    border-color: #212326;
    background-image: -webkit-linear-gradient(top, #2b3035  0%, #363b42 100%);
    background-image: -moz-linear-gradient(top, #2b3035  0%, #363b42 100%);
    background-image: -o-linear-gradient(top, #2b3035  0%, #363b42 100%);
    background-image: linear-gradient(to bottom, #2b3035  0%, #363b42 100%);
    margin: 0;
}

.claro .dijitMenuBar .dijitMenuItemSelected {
    border-color: #212326;
    background-image: -webkit-linear-gradient(top, #2b3035  0%, #363b42 100%);
    background-image: -moz-linear-gradient(top, #2b3035  0%, #363b42 100%);
    background-image: -o-linear-gradient(top, #2b3035  0%, #363b42 100%);
    background-image: linear-gradient(to bottom, #2b3035  0%, #363b42 100%);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0;
}


/*

preference title content
5e7187 top
798ca2 bottom
*/