<div class='viewContainerEventElem' style="display:block; width:100%; height:100%; background-color:transparent">
    <div class='titleFeedbackContainer'>
        <div class='viewContainerTitleFeedback'>
        </div>
    </div>
    <div class='contentFeedbackContainer'>
        <div class='viewContainerFeedback viewContainerFeedbackCenter'>
        </div>
        <div class='viewContainerFeedback viewContainerFeedbackLeft'>
        </div>
        <div class='viewContainerFeedback viewContainerFeedbackTop'>
        </div>
        <div class='viewContainerFeedback viewContainerFeedbackRight'>
        </div>
        <div class='viewContainerFeedback viewContainerFeedbackBottom'>
        </div>
    </div>
</div>
