<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Message Format Details</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/theme/monokai.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/scroll/simplescrollbars.min.css">
		<link rel="stylesheet" href="../../css/app.css">
	</head>
	<body>
		<div id="deleteDlg"></div>
		<div class="container">
			<div class="row">
				<h2>Message Format Details</h2>
			</div>
			<div class="row">
				<div class="pull-right">
					<input id="btnShowlists" class="btn btn-default" type="button" value="Back">
				</div>
			</div>
			<div class="row" role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#format" aria-controls="format" role="tab" data-toggle="tab">Foramt</a></li>
					<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="format">
						<form role="form">
							<div class="form-group form-right">
								<input id="btnCancel" class="btn btn-primary btn-right hidden" type="button" value="Cancel">
								<input id="btnDelete" class="btn btn-danger btn-right" type="button" value="Delete">
								<input id="btnToggle" class="btn btn-primary btn-right" type="button" value="Modify">
							</div>
							<div class="form-group">
								<label for="msgName">Message Name</label>
								<input type="text" class="form-control" id="msgName" placeholder="Ener message name" disabled>
							</div>
							<div class="form-group">
								<label for="msgVer">Format Ver.</label>
								<input type="text" class="form-control" id="msgVer" placeholder="Ener format version" disabled>
							</div>
							<div class="form-group">
								<div>
									<label for="deviceModel">Thing Model</label>
								</div>
								<div class="row">
									<div class="col-md-8">
										<input type="text" class="form-control" id="deviceModel" placeholder="Ener thing model" disabled>
									</div>
									<div class="col-md-1">
										<input id="btnSearch" class="btn btn-primary " type="button" value="Search" disabled>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="deviceDesc">Description</label>
								<textarea class="form-control" id="deviceDesc" row="2" placeholder="Ener description" disabled></textarea>
							</div>
							<div class="form-group">
								<label for="msgFormat">Format</label>
								<div><textarea id="msgFormat" name="msgFormat"></textarea></div>
							</div>
						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="history"></div>
				</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.min.js"></script>
		<script src="../../lib/codemirror/mode/javascript.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/selection/active-line.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/scroll/simplescrollbars.min.js"></script>
		<script src="../../lib/services.js"></script>
		<script>
			$(document).ready(function() {
				var url = window.location.href;
				var messageCode = url.substr(url.indexOf('?')+1);

				var MsgFmt = Services.MsgFmt;
				var msgName = $('#msgName');
				var msgVer = $('#msgVer');
				var deviceModel = $('#deviceModel');
				var deviceDesc = $('#deviceDesc');
				var msgFormat = $('#msgFormat');

				var oldData = {};

				MsgFmt.details(messageCode, function (err, data) {
					if (err) {
						console.error(err);
					} else {
						oldData = data;

						msgName[0].value = data.messageName;	
						msgVer[0].value = data.formatVersion;
						deviceModel[0].value = data.thingModel;
						deviceDesc[0].value = data.description;

						editor.setValue(data.format);
					}
				});

				var editor = CodeMirror.fromTextArea(document.getElementById('msgFormat'), {
					lineNumbers: true,
					readOnly: true,
					theme: 'monokai',
					mode: 'application/ld+json',
					styleActiveLine: true,
					scrollbarStyle: 'simple'
				});

				$('#btnSearch').on('click', function () {
					alert('Popup seach dialog');
				});

				$('#btnShowlists').on('click', function () {
					window.location.href = 'MessageList.html';
				});

				$('#btnDelete').on('click', function () {
					$('#deleteDlg').load('../../lib/dialog.html', function () {
						var warnStr = 'Are you really delete the thing Model <strong>"' + deviceModel[0].value + '"</strong>?';

						$('#mbody-content').html(warnStr);

						$('#deleteConfirm').off('click').on('click', function () {
							MsgFmt.deleteThing(messageCode, function (err, data) {
								if (err) {
									console.error(err);
								} else {
									window.location.href = 'MessageList.html';
								}
							});
						});

						$('#deleteModal').modal('show');

						$('#deleteModal').on('hidden.bs.modal', function () {
							$(this).remove();
						});
					});
				});

				$('#btnCancel').on('click', function () {
					$(this).addClass('hidden');
					$('#btnDelete').removeClass('hidden');
					$('#btnToggle')[0].value = 'Modify';

					msgName[0].value = oldData.messageName;
					msgVer[0].value = oldData.formatVersion;
					deviceModel[0].value = oldData.thingModel;
					deviceDesc[0].value = oldData.description;
					editor.setValue(oldData.format);

					msgName.attr('disabled', true);
					msgVer.attr('disabled', true);
					deviceModel.attr('disabled', true);
					deviceDesc.attr('disabled', true);
					msgFormat.attr('disabled', true);
					$('#btnSearch').attr('disabled', true);
					editor.setOption('readOnly', true);
				});

				$('#btnToggle').on('click', function () {
					var self = $(this)[0];

					if (self.value === 'Modify') {
						var oldDatas = $('[disabled]');
						oldDatas.each(function(i, node) {
							$(node).attr('disabled', false);
						});

						editor.setOption('readOnly', false);

						self.value = 'Save changes';
						
						msgName.focus();
						$('#btnCancel').removeClass('hidden');
						$('#btnDelete').addClass('hidden');
					} else if (self.value === 'Save changes') {
						var updateData = {
							messageName: msgName[0].value,
							formatVersion: msgVer[0].value,
							thingModel: deviceModel[0].value,
							description: deviceDesc[0].value,
							format: editor.getValue()
						};

						MsgFmt.updateThing(messageCode, updateData, function (err, data) {
							if (err) {
								console.error(err);
							} else {
								window.location.href = 'MessageList.html';
							}
						});
					}
				});
			});
		</script>
	</body>
</html>