/* ContentPane
 *
 * .dijitContentPane
 * 	set padding for basic content pane
 *
 * Nested layouts:
 *
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane,
 *	set background-color and padding of ContentPane nested within a SplitContainer
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer
 */
.menubar-gradient {
  background-image: linear-gradient(to bottom, #363b42 1px, #414850 0px, #414850 26px, #3e454c 0px, #313437 30px);
}
.toolbar-gradient {
  background-image: linear-gradient(to bottom, #dee4e7 1px, #ced3d7 0px, #ced3d7 26px, #ced3d7 0px, #a7b1ba 30px);
}
/*theme*/
/*GNB*/
/*toolbar*/
/*workspace*/
/*button*/
/*Gutter*/
/*footer*/
.webida-light {
  /* nested layouts */
}
.webida-light .dijitContentPane {
  padding: 7px;
}
.webida-light .dijitTabContainerTop-dijitContentPane,
.webida-light .dijitTabContainerLeft-dijitContentPane,
.webida-light .dijitTabContainerBottom-dijitContentPane,
.webida-light .dijitTabContainerRight-dijitContentPane,
.webida-light .dijitAccordionContainer-dijitContentPane {
  background-color: transparent;
}
.webida-light .dijitTabContainerTop-dijitContentPane {
  width: 100%;
}
.webida-light .dijitSplitContainer-dijitContentPane,
.webida-light .dijitBorderContainer-dijitContentPane {
  background-color: transparent;
  padding: 8px;
}
