/*theme*/
/*GNB*/
/*toolbar*/
/*workspace*/
/*button*/
/*Gutter*/
/*footer*/
.dijitBorderContainer .dojoxToggleSplitter .dijitSplitterH {
  height: 6px;
}
.dijitBorderContainer .dojoxToggleSplitter .dijitSplitterV {
  width: 6px;
}
.dijitBorderContainer .dijitSplitterH .dojoxToggleSplitterIcon {
  background-image: url('../images/splitterToggleH.png');
  background-repeat: no-repeat;
  width: 61px;
  height: 5px;
  top: 1px;
  left: 50%;
  margin-left: -31px;
  cursor: pointer;
}
.dijitBorderContainer .dijitSplitterV .dojoxToggleSplitterIcon {
  background-image: url('../images/splitterToggleV.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 5px;
  height: 61px;
  left: 0px;
  top: 50%;
  margin-top: -31px;
  cursor: pointer;
}
.dojoxToggleSplitterTop .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconClosed {
  background-position: 0 -10px !important;
}
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterTop .dojoxToggleSplitterIconClosed {
  background-position: 0 0px !important;
}
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterRight .dojoxToggleSplitterIconClosed {
  background-position: -5px 0 !important;
}
.dojoxToggleSplitterRight .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosed {
  background-position: -15px 0 !important;
}
.dojoxToggleSplitterTop .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconClosedHover {
  background-position: 0 -10px !important;
}
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterTop .dojoxToggleSplitterIconClosedHover {
  background-position: 0 0 !important;
}
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterRight .dojoxToggleSplitterIconClosedHover {
  background-position: -5px 0 !important;
}
.dojoxToggleSplitterRight .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosedHover {
  background-position: -15px 0 !important;
}
.dojoxToggleSplitterTop .dojoxToggleSplitterA11y,
.dojoxToggleSplitterBottom .dojoxToggleSplitterA11y {
  display: none;
  font-size: 6px;
  text-align: center;
}
.dojoxToggleSplitterRight .dojoxToggleSplitterA11y,
.dojoxToggleSplitterLeft .dojoxToggleSplitterA11y {
  display: none;
  font-size: 8px;
  position: relative;
  top: 48%;
}
.dijit_a11y .dojoxToggleSplitterA11y {
  display: block;
}
