/*theme*/
/*GNB*/
/*toolbar*/
/*workspace*/
/*button*/
/*Gutter*/
/*footer*/
.webida-light {
  /*logo*/
  /*userinfo*/
  /*status bar start*/
  /*status bar end*/
  /*scroll*/
}
.webida-light .webida-tool-bar-icon-normal {
  background-position: 0 0;
}
.webida-light .webida-tool-bar-icon-hover {
  background-position: -20px 0;
}
.webida-light .webida-tool-bar-icon-disabled {
  background-position: -40px 0;
}
.webida-light .webida-tool-bar-icon-clicked {
  background-position: -60px 0;
}
.webida-light .app-workbench-top-logo {
  position: absolute;
  left: 12px;
  top: 0px;
  width: 40px;
  height: 30px;
  background-image: url('../images/title_emblem.png');
  cursor: pointer;
}
.webida-light .app-workbench-top-logo:hover {
  background-position: -40px;
}
.webida-light .app-workbench-top-logo:active {
  background-position: -80px;
}
.webida-light .app-workbench-top-userinfo {
  position: absolute;
  right: 0;
  margin: 2px 15px 0 0;
}
.webida-light .app-workbench-top-userinfo span {
  color: #fff;
}
.webida-light .app-workbench-top-userinfo .userinfo-email {
  color: #f3b353;
  font-weight: bold;
}
.webida-light .app-workbench-top-userinfo .userinfo-email:hover {
  text-decoration: underline;
  cursor: pointer;
}
.webida-light .app-workbench-top-userinfo .userinfo-menu {
  position: absolute;
  background-color: #313437;
  border-radius: 5px;
  right: 10px;
  top: 24px;
  padding: 10px 10px;
  opacity: 1;
  z-index: 1000;
  display: none;
}
.webida-light .app-workbench-top-userinfo .userinfo-menu button {
  width: 144px;
  height: 22px;
  background-color: #685b5b;
  color: #ebd6bd;
  font-size: 10pt;
  padding: 0;
  border-radius: 3px;
  border: 1px solid transparent;
  display: block;
}
.webida-light .app-workbench-top-userinfo .userinfo-menu button:hover {
  background-color: #f3b353;
  color: #000;
  cursor: pointer;
}
.webida-light .app-workbench-top-userinfo .userinfo-menu .separator {
  margin-top: 7px;
}
.webida-light .app-workbench-menubar {
  background-image: none;
  background-color: #414850;
}
.webida-light .app-workbench-menubar-dijit {
  background-image: none;
  background-color: transparent;
  position: absolute;
  left: 54px;
  width: 415px;
}
.webida-light .app-workbench-top-userinfo span {
  color: #f3b353;
}
.webida-light .app-workbench-top-userinfo .dijitDropDownButton .dijitArrowButtonInner {
  width: 8px;
  height: 20px;
  margin-left: 5px;
  background-image: url("../images/icons/arrow.png");
  background-position: 0 0;
}
.webida-light .app-workbench-top-userinfo .dijitDropDownButton.dijitDropDownButtonHover .dijitArrowButtonInner {
  background-position: -8px 0;
}
.webida-light .app-workbench-top-userinfo .dijitDropDownButton.dijitDropDownButtonDisabled .dijitArrowButtonInner {
  background-position: -16px 0;
}
.webida-light .app-workbench-top-userinfo .dijitDropDownButton.dijitDropDownButtonActive .dijitArrowButtonInner {
  background-position: -24px 0;
}
.webida-light .dijitMenuBar {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
.webida-light .dijitTabListWrapper {
  left: 0 !important;
}
.webida-light #editor-tab .dijitBorderContainer-dijitContentPane {
  background-color: #a0a7ae;
  padding-top: 3px!important;
  padding-left: 0px!important;
}
.webida-light #app-workbench-toolbar .dijitComboButton .dijitDownArrowButton .dijitArrowButtonInner {
  width: 8px;
  height: 20px;
  background-image: url("../images/icons/arrow.png");
  background-position: 0 0;
}
.webida-light #app-workbench-toolbar .dijitComboButton .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -8px 0;
}
.webida-light #app-workbench-toolbar .dijitComboButtonDisabled .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: -16px 0;
}
.webida-light #app-workbench-toolbar .dijitComboButton .dijitDownArrowButtonActive .dijitArrowButtonInner {
  background-position: -24px 0;
}
.webida-light .app-workbench-menubar-dijit {
  background-image: none;
  background-color: transparent;
  position: absolute;
  left: 54px;
  width: 415px;
}
.webida-light #app-workbench-toolbar .dijitButtonNode {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border-radius: 3px;
  /*border-color: transparent;*/
}
.webida-light #app-workbench-toolbar .dijitComboButton .dijitButtonNode .dijitButtonContents {
  padding-right: 0px;
}
.webida-light #app-workbench-toolbar .dijitButtonNode .dijitButtonText {
  padding: 0 2px;
}
.webida-light #app-workbench-toolbar .dijitComboButtonActive .dijitButtonNode {
  border-color: #4f5862;
}
.webida-light #app-workbench-toolbar .dijitComboButtonHover .dijitButtonNode,
.webida-light #app-workbench-toolbar .dijitComboButtonActive .dijitButtonNode {
  border-color: #4f5862;
  /*background-color: #ced3d7;*/
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 1px;
}
.webida-light #app-workbench-toolbar .dijitComboButtonHover .dijitDownArrowButton,
.webida-light #app-workbench-toolbar .dijitComboButtonActive .dijitDownArrowButton {
  border-color: #4f5862;
  /*background-color: #ced3d7;*/
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 1px;
  border-left-width: 0;
  padding-left: 2px;
}
.webida-light #app-workbench-border-container {
  background-color: #d6dce2 !important;
  border-radius: 0;
}
.webida-light #app-workbench-border-container .dijitBorderContainer-child.dijitAlignLeft {
  padding-right: 4px!important;
  padding-left: 3px!important;
}
.webida-light .workbenchMenubarHide .app-workbench-menubar {
  display: none;
}
.webida-light .workbenchToolbarHide .app-workbench-toolbar {
  display: none;
}
.webida-light .app-workbench-statusbar {
  height: 20px;
  background: #36393e;
  color: #a2b2c7;
}
.webida-light .app-workbench-statusbar-content {
  position: absolute;
  left: 10px;
  top: 1px;
  height: 19px;
  overflow: hidden;
}
.webida-light .app-workbench-progressbar {
  width: 150px;
  height: 8px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #81878c 0%, #aab1b6 100%);
  background-image: -moz-linear-gradient(top, #81878c 0%, #aab1b6 100%);
  background-image: -o-linear-gradient(top, #81878c 0%, #aab1b6 100%);
  background-image: linear-gradient(to bottom, #81878c 0%, #aab1b6 100%);
  overflow: hidden;
}
.webida-light .statusbar-content-item {
  float: left;
  padding-top: 2px;
}
.webida-light .statusbar-content-separator {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  height: 19px;
  width: 1px;
  border-left: 1px rgba(0, 0, 0, 0.2) solid;
  border-right: 1px rgba(255, 255, 255, 0.4) solid;
}
.webida-light ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.webida-light ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.webida-light ::-webkit-scrollbar-track {
  right: 4px;
  margin-right: 5px;
  border: 2px solid transparent;
  background: transparent;
  /*
    x-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
    */
}
.webida-light ::-webkit-scrollbar-track-piece {
  background: #000000;
  background: rgba(0, 0, 0, 0);
  /*
    x-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
    */
}
.webida-light ::-webkit-scrollbar-thumb {
  background: #bcbbbf;
  border-radius: 3px;
}
.webida-light ::-webkit-scrollbar-thumb:hover {
  background: #bcbbbf;
}
.webida-light ::-webkit-scrollbar-corner {
  background-color: transparent;
}
.webida-light div:focus,
.webida-light span:focus,
.webida-light pre:focus {
  outline: none;
}
