.dijitBorderContainer .dojoxToggleSplitter .dijitSplitterH {
	height: 6px;
}
.dijitBorderContainer .dojoxToggleSplitter .dijitSplitterV {
	width: 6px;
}
.dijitBorderContainer .dijitSplitterH .dojoxToggleSplitterIcon {
	background-image: url('images/splitterToggleH.png');
	background-repeat: no-repeat;
	width: 31px;
	height: 6px;
	top: 1px;
	left: 45%;
    left: calc(50% - 31px);
	cursor: pointer;
}
.dijitBorderContainer .dijitSplitterV .dojoxToggleSplitterIcon {
	background-image: url('images/splitterToggleV.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	width: 6px;
	height: 31px;
	left: 1px;
	top: 45%;
    top: calc(50% - 31px);
	cursor: pointer;
}
.dojoxToggleSplitterTop .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconClosed {
	background-position: 0 -12px !important;
}
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterTop .dojoxToggleSplitterIconClosed {
	background-position: 0 0 !important;
}
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterRight .dojoxToggleSplitterIconClosed {
	background-position: -12px 0 !important;
}
.dojoxToggleSplitterRight .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosed {
	background-position: 0 0 !important;
}
.dojoxToggleSplitterTop .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconClosedHover {
	background-position: 0 -18px !important;
}
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterTop .dojoxToggleSplitterIconClosedHover {
	background-position: 0 -6px !important;
}
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterRight .dojoxToggleSplitterIconClosedHover {
	background-position: -18px 0 !important;
}
.dojoxToggleSplitterRight .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosedHover {
	background-position: -6px 0 !important;
}
.dojoxToggleSplitterTop .dojoxToggleSplitterA11y,
.dojoxToggleSplitterBottom .dojoxToggleSplitterA11y {
	display: none;
	font-size: 6px;
	text-align: center;
}
.dojoxToggleSplitterRight .dojoxToggleSplitterA11y,
.dojoxToggleSplitterLeft .dojoxToggleSplitterA11y {
	display: none;
	font-size: 8px;
	position: relative;
	top: 48%;
}
.dijit_a11y .dojoxToggleSplitterA11y {
	display: block;
}
