
@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('//fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.woff') format('woff'), url('//fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.ttf') format('truetype');
}


body {
    font-family: 'Nanum Gothic Coding';
    margin: 0;
    padding: 0;
    color: #fff;
}

footer {
    height: 160px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    background-repeat: repeat;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 20;
    display: none;
}

/* top */
.top {
    width: 100%;
    height: 50px;
    background-color: #F3F5BF;
}


.top-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 30px;
    background-image: url('../res/images/title_emblem.png');
}

.top-logo-text {
    position: absolute;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    left: 60px;
    top: 20px;
    width: 100px;
    height: 30px;
    color: #8E9E59;
    padding: 2px;
}

.top-log-userinfo {
    position: absolute;
    color: #f3b353;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    left: 170px;
    top: 20px;
    width: 200px;
    height: 30px;
    padding: 10px;
}

.top-logo-arrowbtn {
    position: absolute;
    left: 340px;
    top: 30px;
    width: 15px;
    height: 15px;
    background-image: url("../res/images/button/buttonArrows.png");
    background-repeat: no-repeat;
    background-position: -51px 53%;
}
    


/* left */

.left {
    background-color: #ffffff;
    width: 17%;
    /*height: 900px;*/
    float: left;
    padding: 5px;
}


#tree {
    /*height: 900px;*/
}


.right {
    /*background-color: #eeeeee;*/
    width: 83%;
    height: 100%;
    /*height: 900px;*/
    float: left;
    padding: 5px;
}

.right-pane {
    display: none;
    max-width: 1280px;
    min-width: 800px;
    margin: 20px auto;
}


/* profile options */

.pf-options-input {
    /*background-color: #ffffff;*/
    margin: 10px;
}

.rc-options {
    border-radius: 25px;
    background: #8AC007;
    padding: 5px; 
    width: 100%;
    height: 120px;    
}
