@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('//fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.woff');
}

.dimming {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: repeat;
    opacity: 0.5;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
    z-index: 20;
}

.block-dimming {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: repeat;
    opacity: 0.5;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
    z-index: 20;
}

button:focus {
    outline: none !important;
}

input:focus, textarea:focus {
    outline: none;
}

.profile-dialog {
    position: absolute;
    z-index: 1000;
}

.profile-arrow {
    position: relative;
    background: url('../../resource/tooltip.png');
    margin-left: 30px;
    width: 15px;
    height: 13px;
}

.profile-content {
    position: relative;
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 14px 14px 12px;
}

.signup-text {
    color: #ddd;
    margin-left: 4px;
    margin-bottom: 8px;
    font-size: 11pt;
}

.signup-input {
    width: 318px;
    height: 30px;
    margin-top: 7px;
    margin-bottom: 15px;
    font-size: 12pt;
    color: #616161;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #000;
    padding-left: 10px;
}

.email-sent-dialog {
    position: fixed;
    z-index: 1000;
}

.dialog-content {
    position: relative;
    background-color: #000;
    border-radius: 5px;
    padding: 14px 14px 12px;
}

.dialog-content div {
    width: 500px;
    color: #fff;
    margin-bottom: 20px;
}

.dialog-content div strong {
    color: #5cb85c;
    font-size: 14pt;
}

body {
    font-family: "Nanum Gothic Coding", "Open Sans", Helvetica, Arial, sans-serif;
}

h1 a {
    font-size: 36px;
}

.navbar {
    border-radius: 0;
    min-height: 74px;
    background-color: #3E404D;
}

.navbar-header a {
    letter-spacing: -1px;
}

.navbar-brand {
    padding-top: 24px;
}

.navbar-inverse  .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 40px;
    color: #ddd;
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover {
    color: #ddd;
}

@media (min-width: 768px) {
    .navbar-nav > li.stress > a {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid #b0d8e7;
        color: #b0d8e7;
    }
    .navbar-nav > li.stress > a:hover {
        background-color: #000;
        border: 1px solid #fff;
        color: #fff;
    }
    .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover {
        color: #b0d8e7;
    }
}

.navbar-toggle {
    margin-top: 18px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 24px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #4b4b4b;
}

.desc {
    font-size: 12pt;
    color: #494949;
}

div h4 {
    margin-left: 50px;
}

.features li {
    margin-left: -20px;
}

.features li span {
    font-size: 12pt;
    font-weight: bold;
    color: #494949;
}

.features li ul li {
    margin: 6px 0 15px -15px;
    color: #494949;
    font-weight: normal;
    list-style: square;
}

.blog-contents {

}

.blog-post {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 0 25px 20px;
    border-radius: 7px;
}

.blog-post > h2 {
    color: #636363;
}

.blog-post-date {
    color: #aaa;
    margin-bottom: 30px;
}

.documents li {
    margin-left: -20px;
    margin-bottom: 10px;
}

.documents li a {
    font-size: 14pt;
}

.documents li div {
    margin-left: 30px;
}

.contact-form {
    width: 60%;
    border: 1px solid #eee;
    border-radius: 7px;
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
}

.contact-form dt {
    color: #525252;
}

.contact-form dd {
    margin-bottom: 12px;
}

.contact-form dd input {
    width: 300px;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding-left: 10px;
}

.contact-form dd textarea {
    width: 100%;
    height: 80%;
}

.required {
    font-style: italic;
    font-size: 8pt;
    color: #a0a0a0;
    font-weight: normal;
}

.footer {
    background-color: #3E404D;
    border-top: 1px solid #080808;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    color: #ddd;
}

.videoContainer {
    background: #f6f6f6;
    margin-bottom: 20px;
}

.container {
    min-width: 320px;
}